.post__list {
    padding: 20px 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-items: center;
}

.header {
    min-height: 90px;
    border-bottom: 1px solid #ccc9c94a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.btn__new-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    min-width: 160px;
    min-height: 44px;
    padding: 7px 15px;
    text-align: center;
    border-radius: 4px;
    background: #fb8500;
    outline: none;
    border: none;
}

.btn__new-post:hover {
    background: #ffae51;
}

/* Media */

@media screen and (max-width: 1400px) {
    .post__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
    .post__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .post__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .post__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
